<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="./js/app.js"></script>
    <title>{{title}}</title>
</head>

<body>
    {{>header}}
    <main>
        <p>This site was created by Dillon Smith. It uses data from mapbox.com and weatherstack.com</p>
        <img src="./img/selfie.jpg" alt="A Selfie Picture" class="portrait" />
    </main>
    {{>footer}}
</body>

</html>